In [ ]:

!pip install -q kaggle # connecting kaggle

In [ ]:
!mkdir ~/.kaggle    # create a kaggle directory

In [ ]:
!cp kaggle.json ~/.kaggle # copying json file to folder

In [ ]:
!kaggle datasets download -d shivd24coder/fifa-world-cup-dataset    # from kaggle dataset field copy API command

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading fifa-world-cup-dataset.zip to /content
  0% 0.00/372k [00:00<?, ?B/s]
100% 372k/372k [00:00<00:00, 113MB/s]

In [ ]:
!unzip /content/fifa-world-cup-dataset.zip

Archive:  /content/fifa-world-cup-dataset.zip
  inflating: Goals.csv
  inflating: Team.csv
  inflating: attendence.csv
  inflating: match.csv

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/Team.csv')
df

,No,Pos,Player,DOB/Age,Caps,Club,Country,ClubCountry,Year
0,1,1GK,Ángel Bossio,(1905-05-05)5 May 1905 (aged 25),NaN,Talleres,Argentina,Argentina,1930
1,1,1GK,Juan Botasso,(1908-10-23)23 October 1908 (aged 21),NaN,Quilmes,Argentina,Argentina,1930
2,9,4FW,Roberto Cherro,(1907-02-23)23 February 1907 (aged 23),NaN,Boca Juniors,Argentina,Argentina,1930
3,4,2DF,Alberto Chividini,(1907-02-23)23 February 1907 (aged 23),NaN,Central Norte Tucumán,Argentina,Argentina,1930
4,10,4FW,Attilio Demaría,(1909-03-19)19 March 1909 (aged 21),NaN,Estudiantil Porteño,Argentina,Argentina,1930
...,...,...,...,...,...,...,...,...,...
8892,-,4FW,Park Chu-Young,(1985-07-10)10 July 1985 (aged 28),62,Watford,South Korea,England,2014
8893,-,4FW,Ji Dong-Won,(1991-05-28)28 May 1991 (aged 23),26,FC Augsburg,South Korea,Germany,2014
8894,-,4FW,Lee Keun-Ho,(1985-04-11)11 April 1985 (aged 29),62,Sangju Sangmu,South Korea,South Korea,2014
8895,-,4FW,Koo Ja-Cheol,(1989-02-27)27 February 1989 (aged 25),35,Mainz 05,South Korea,Germany,2014
8896,-,4FW,Kim Shin-Wook,(1988-04-14)14 April 1988 (aged 26),26,Ulsan Hyundai,South Korea,South Korea,2014

In [ ]:
df.isnull().any()

No              True
Pos            False
Player         False
DOB/Age         True
Caps            True
Club           False
Country        False
ClubCountry    False
Year           False
dtype: bool

In [ ]:
df.isnull().sum()

No               24
Pos               0
Player            0
DOB/Age          92
Caps           2811
Club              0
Country           0
ClubCountry       0
Year              0
dtype: int64